# Python 3.10.6


numpy==1.26.4

pandas==2.2.2

matplotlib==3.9.2

seaborn==0.13.2



opencv-python==4.9.0.80


ultralytics

fastapi         # API framework

pytz            # time zone management
uvicorn         # web server

python-multipart # opencv dependency needed manually

# tests

httpx           # HTTP client
pytest-asyncio  # asynchronous I/O support for pytest

# live

streamlit_webrtc

twilio
